body{
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
	margin-top:130px;
	background-color: rgba(34,67,56,0.5);
	min-width: 400px;
	padding-top: 30px;
	padding-bottom: 30px;
  border-radius: 20px;
}

#weather-temp{
	font-size:30px;
	color:black;
}

.subtext{
	font-size:20px;
	color:black;
}


.mid-part {
	margin:30px;
}


.btm-part {
	margin:30px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;    
	font-weight: bold;
	//color: white;
 // background-color: #efefef;
 // text-align: center;
}

a:link {color: red; text-decoration: none; font-weight: bold; !important}
a:active {color: red; text-decoration: none; font-weight: bold;  !important}
a:visited {color: red; text-decoration: none; font-weight: bold; !important}
a:hover {color: red; text-decoration: none; font-weight: bold; !important}
